SECRET_KEY=your-secret-key-here
DEBUG=True

DATABASE_ENGINE=postgresql
DATABASE_NAME=congreso-connect
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

USE_REDIS=True
REDIS_URL=redis://127.0.0.1:6379/1
